*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background: #6589F9;
}

.grid {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: left;
}

.grid1 {
    float: left;
    padding-left: 0;
}

.grid2 {
    float: right;
    padding-left: 0;
    width: 50%;
    height: 750px;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.front {
    height: 170px;
    width: 170px;
}

.front {
    position: absolute;
    backface-visibility: hidden;
    z-index: 2;
    background: transparent no-repeat center center / contain;
}

.draggable {
    z-index: 10;
}

.wrapper .row {
    font-size: 0;
    text-align: center;
}

.wrapper .row * {
    font-size:14px;
}

.wrapper .block {
    text-align: center;
    display: inline-block;
    height: 170px;
    margin: 5px;
    width: 170px;
    border: white solid;
}