*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background: #6589F9;
}

.grid {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: left;
}

.grid1 {
    float: left;
    padding-left: 0%;
}

.grid2 {
    float: right;
    padding-left: 0%;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.front {
    height: 170px;
    width: 170px;
}

.front {
    position: absolute;
    backface-visibility: hidden;
    z-index: 2;
    background: transparent url('img/ghiozdan.png') no-repeat center center / contain;
}

.draggable {
    z-index: 10;
}

.match .front {
    background: #6589F9 !important;
}

.tabelu {
    border: white solid;
}

.tabeluth,
.tabelutd {
    border: white solid;
    font-size: 10em;
    padding-left: 50px;
    padding-right: 50px;
}